{% load humanize %}
{% load vida %}
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="{{ object.description }} Learn more about this community's risks.">
    <meta name="author" content="Prominent Edge LLC">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Common Operating Picture</title>

    {% include "firestation/_vida_style.html" %}
</head>

<body class="ct-headroom--fixedTopBar cssAnimate" ng-controller="jurisdictionController" ng-app="fireStation">


<div id="ct-js-wrapper" class="ct-pageWrapper">

<div class="ct-navbarMobile">
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'firestation_home' %}"><img src="{{STATIC_URL}}firestation/theme/assets/images/content/logo.png" alt="Estato"> </a>
    <button type="button" class="searchForm-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span><i class="fa fa-search"></i></span>
    </button>
</div>

{% if not embed %}
    {% include "firestation/_navbar.html" %}


<div class="ct-site--map">
    <div class="container">
        <a href="{% url 'firestation_home' %}">Home</a>
    </div>
</div>
<header class="ct-mediaSection">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-u-displayTableVertical">
                <div class="ct-textBox ct-u-text--white ct-u-displayTableCell text-left">
                    <h2>Common Operating Picture</h2>
                    <h4>Flintlock 2016</h4>
                </div>
                <div class="ct-u-displayTableCell text-right">
                    <a href="search-grid.html" class="btn btn-sm btn-transparent–border ct-u-text--white"><i class="icon-star fa-2x"></i></a>
                    <a href="javascript:window.print()" class="btn btn-sm btn-transparent–border ct-u-text--white"><i class="icon-printer fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}
<section class="ct-u-paddingBottom60">
    <div class="container">
        <div class="ct-productMeta--single ">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell text-left">
                            <i class="fa fa-clock-o"></i><h6>Last Updated: {[lastUpdated]}</h6>
                        </div>
                        <div class="ct-u-displayTableCell text-right">
                            <a href="" ng-click="toggleFullScreenMap()"><i class="fa fa-arrows-alt"></i> View Fullscreen Map</a>
                            <a href="" style="padding-left: 15px" ng-click="zoomToTracksLayer()"><i class="fa fa-map-pin"></i> Zoom to tracks</a>
                        </div>
                    </div>
                </div>
 <!--                <div class="col-md-4 col-lg-3 text-right">
                    <a href=""><i class="fa fa-times"></i>report abuse</a>
                </div> -->
            </div>
        </div>
        <div class="ct-section--products">
            <div class="row">
                <div class="col-md-6 col-lg-6" style="z-index: 1001">
                    <forms-list></forms-list>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="ct-gallery">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <report-list></report-list>
                </div>
            </div>
        </div>
    </div>
</section>
{% if not embed %}
<section class="ct-u-paddingBoth60 ct-js-section" data-bg-color="#f3f3f3">
    <div class="container">
    </div>
</section>
{% endif %}
</div>

{% include "firestation/_vida_static.html" %}
{% include 'google_analytics.html' %}

</body>
</html>