{% load compress %}

{% compress js %}
<script src="{{STATIC_URL}}firestation/theme/assets/js/jquery.min.js"></script>
<script src="{{STATIC_URL}}angularjs/angular.min.js"></script>
<script src="{{ STATIC_URL }}angular-ui/ui-bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="{{ STATIC_URL }}ngTable/ng-table.min.js"></script>
<script src="{{STATIC_URL}}angularjs/angular-sanitize.min.js"></script>
<script src="{{STATIC_URL}}angularjs/angular-resource.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}leaflet-hash/leaflet-hash.js"></script>
<script src="{{ STATIC_URL }}leaflet-fullscreen/Leaflet.fullscreen.min.js"></script>
<script src="{{ STATIC_URL }}firestation/L.Icon.Pulse-vida.js"></script>
<script src="{{ STATIC_URL }}firestation/Leaflet.FireCARESMarkers.js"></script>
<script src="{{ STATIC_URL }}Leaflet.vector-markers/Leaflet.vector-markers.min.js"></script>
<script src="{{ STATIC_URL }}leaflet.polygon-markers/leaflet-dvf.markers.min.js"></script>
<script src="{{ STATIC_URL }}d3/d3.min.js"></script>
<script src="{{ STATIC_URL }}nvd3/nv.d3.js"></script>
<script src="{{ STATIC_URL }}moment/moment-with-locales.min.js"></script>
<script src="{{ STATIC_URL }}firestation/js/bulletChart.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/factories.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/mapService.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/shelterService.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/formService.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/reportService.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/fileUploadService.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/filtersService.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/home.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/departmentDetail.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/performanceScore.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/gauge.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/search.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/graphs.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/forms.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/userlist.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/report-dialog/report-dialog.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/reportlist.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/track-popup/track-popup.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/features-popup/features-popup.js"></script>
<script src="{{ STATIC_URL }}firestation/js/app.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/dateTimePicker/dateTimePicker.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/select2/select2.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/ui-select2/ui-select2.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/slider-bootstrap/bootstrap-slider.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/ct-mediaSection/jquery.stellar.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/owl/owl.carousel.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/dependencies.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/main.js"></script>

<!--[if lt IE 9]>
<script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/html5shiv.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/respond.min.js"></script>
<![endif]-->
<script src="{{STATIC_URL}}firestation/theme/assets/js/modernizr.custom.js"></script>

{% endcompress js %}
