<div class="report-dialog">
    <div class="modal-header">
        <h3 class="modal-title">{{ form.schema.title }}</h3>
    </div>
    <div class="modal-body">
        <div class="input-group" ng-if="propName !== 'photos' && prop.type !== 'array'" ng-repeat="(propName, prop) in form.schema.properties">
            <span class="input-group-addon">{{propName}}</span>

            <input ng-if="prop.type === 'string' && !prop.enum" ng-disabled="showStatus" class="form-control" type="text" placeholder="{{prop.description}}" ng-model="report.data[propName]"/>

            <select ng-if="prop.enum" ng-disabled="showStatus" id="injury" class="form-control" ng-model="report.data[propName]">
                <option value="" > -- choose -- </option>>
                <option ng-repeat="item in prop.enum" >{{ item }}</option>
            </select>

            <input ng-if="prop.type === 'datetime'" ng-disabled="showStatus" class="form-control" type="datetime-local" ng-model="report.data[propName]"/>
            <a ng-if="prop.description" tooltip="{{prop.description}}" tooltip-animation="false" tooltip-placement="right" class="info-tooltip input-group-addon glyphicon glyphicon-info-sign"></a>
        </div>

        <div class="row" ng-if="getMediaProp() !== null">
          <div class="col-sm-4" ng-repeat="photo in photos">
            <a ng-click="openPhoto(photo)">
              <div class="image-clip">
                <img ng-src="{{photo.thumbUrl}}" class="img-thumbnail">
              </div>
            </a>
          </div>
        </div>
        <div class="input-group" ng-if="showStatus">
            <span class="input-group-addon">Status</span>
            <select class="form-control" ng-model="report.status">
                <option>SUBMITTED</option>
                <option>APPROVED</option>
                <option>REJECTED</option>
            </select>
        </div>
        <div ng-if="showStatus">
            Notes
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="note in report.notes">
                  <div class="input-group">
                    <span class="input-group-addon">{{ note.author.username }}</span>
                    <span class="input-group-addon note-timestamp">{{ formatTimestamp(note.created) }}</span>
                  </div>
                  <div ng-bind-html="getHtml(note.note)"></div>
              </li>
            </ul>
            <div class="input-group">
                <span class="input-group-addon">Add Note</span>
                <input class="form-control" type="text" ng-model="context.noteField"/>
                <a class="info-tooltip input-group-addon glyphicon glyphicon-comment" ng-click="addNote()"></a>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>