<div ng-if="reports && reports.length > 0" class="report-list ct-u-paddingTop10">
    <table ng-table="tableParams" class="table table-bordered table-striped">
        <tr>
            <th ng-repeat="col in columns"
                class="text-left sortable header observation-header {{ col.class }}" ng-class="{
                        'sort-asc': tableParams.isSortBy(col.field, 'asc'),
                        'sort-desc': tableParams.isSortBy(col.field, 'desc')
                      }"
                ng-click="tableParams.sorting(col.field, tableParams.isSortBy(col.field, 'desc') ? 'asc' : 'desc')">
                <div>{{col.title}}</div>
            </th>
        </tr>
        <tr class="ng-table-filters">
            <th></th>
            <th>
                <select class="form-control" ng-model="filters.formTitle">
                    <option value="">-- All --</option>
                    <option value="none">-- None --</option>
                    <option ng-repeat="form in forms">{{ form.schema.title }}</option>
                </select>
            </th>
            <th>
                <select class="form-control" ng-model="filters.from">
                    <option value="">-- All --</option>
                    <option value="Bakel">Bakel</option>
                    <option value="Dakar">Dakar</option>
                    <option value="Kedougou">Kedougou</option>
                    <option value="Nouakchott">Nouakchott</option>
                    <option value="Podor">Podor</option>
                    <option value="St. Louis">St. Louis</option>
                    <option value="Thies">Thies</option>
                </select>
            </th>
            <th>
                <input class="form-control" type="text" ng-model="filters.username"/>
            </th>
            <th>
               <select class="form-control" ng-model="filters.timestamp">
                    <option value="">-- All --</option>
                    <option value="24HRS">Past 24 Hours</option>
                    <option value="WEEK">Past Week</option>
                </select>
            </th>
            <th>
                <select class="form-control" ng-model="filters.status">
                    <option value="">-- All --</option>
                    <option value="SUBMITTED">SUBMITTED</option>
                    <option value="PENDING">PENDING</option>
                    <option value="APPROVED">APPROVED</option>
                    <option value="REJECTED">REJECTED</option>
                </select>
            </th>
            <th></th>
        </tr>
        <tbody>
            <tr ng-repeat="report in $data" ng-if="!isFiltered(report)">
                <td data-title="'Location'" align="center" class="location-column" sortable="'geom'">
                    <span ng-if="report.geom !== null" ng-click="goToLocation(report)" class="glyphicon glyphicon-map-marker"></span>
                </td>
                <td data-title="'Form'" filter="{ formTitle: 'text'}" sortable="'formTitle'">
                    {{report.formTitle}}
                </td>
                <td data-title="'From'" sortable="'from'">
                    {{report.from}}
                </td>
                <td data-title="'User'" sortable="'user.username'">
                    {{report.user.username}}
                </td>
                <td data-title="'Timestamp'" sortable="'timestamp'">
                    {{formatTimestamp(report.timestamp)}}
                </td>
                <td data-title="'Status'" sortable="'status'">
                    {{report.status}}
                </td>
                <td data-title="'View'">
                    <button type="button" class="btn btn-primary full-width" ng-click="viewReport(report)">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>