<div ng-switch="switchCases">
    <div ng-switch-when="list">
        <div>
            <button class="listItems" ng-show="isReportList" ng-click="showReports()">Report</button>
        </div>
        <div>
            <button class="listItems" ng-show="isGPSList" ng-click="showGPS()">GPS</button>
        </div>
        <div>
            <button class="listItems" ng-show="isTrackList" ng-click="showTracks()">Track</button>
        </div>

    </div>
    <div ng-switch-when="items">
        <div>
            <button ng-show="isBackButton" ng-click="backButton()"><</button>
        </div>
        <div ng-show="isReportItems" ng-repeat="reportItem in reportItems track by $index">
            <button class="listItems" ng-click="viewReport($index)">
                <span>{{ reportItem.data.From }} - {{ reportItem.user.username }}</span></button>
        </div>
        <div class="gpsItem" ng-show="isGPSItems" ng-repeat="gpsItem in gpsItems track by $index">
            <div ng-click="gpsItemDetails(gpsItem, $index)"><b>GPS User: </b> {{ gpsItem.user.username }} </div>
        </div>
        <div class="gpsItem" ng-show="isTrackItems" ng-repeat="trackItem in trackItems track by $index">
            <div ng-click="trackItemDetails(trackItem, $index)"><b>Track User: </b> {{ trackItem.user.username }} </div>
        </div>
    </div>

    <div ng-switch-when="gpsItemDetails">
        <div ng-if="gpsDetails.mayday">
            <b>Mayday!</b><br/>
        </div>
        <div><b>User: </b> {{ gpsDetails.user.username }} </div>
        <div><b>Time: </b> {{ getTimeStamp(gpsDetails.timestamp) }} </div>
        <button type="button" class="btn btn-xs btn-primary"
                ng-click="viewGPS(gpsDetailsIndex)">
            Toggle User Track
        </button>
    </div>

    <div ng-switch-when="trackItemDetails">
        <div><b>User: </b> {{ trackDetails.user.username }} </div>
        <div><b>Time: </b> {{ getTimeStamp(trackDetails.timestamp) }} </div>

        <button type="button" class="btn btn-xs btn-primary"
                ng-click="viewTrack(trackDetailsIndex)">
            Toggle User Track
        </button>
    </div>
</div>